<section
  class="hero is-large is-main has-background-dark-brown"
  style="background-image: url({{site.baseurl}}/assets/img/{{page.banner-image}})"
>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">🐾 WPAFW 2022 is totally happening!!1!</h1>
      <h2 class="subtitle">
        Get ready: October 7-9, 2022!
      </h2>
    </div>
  </div>
</section>
