.has-background-dark-
  &brown
    background-color: darken( $brown, 10% ) !important
  &red
    background-color: darken( $red, 10% ) !important
  &orange
    background-color: darken( $orange, 10% ) !important
  &yellow
    background-color: darken( $yellow, 10% ) !important
  &cyan
    background-color: darken( $cyan, 10% ) !important
  &green
    background-color: darken( $green, 10% ) !important
  &turquoise
    background-color: darken( $turquoise, 10% ) !important
  &blue
    background-color: darken( $blue, 10% ) !important
  &purple
    background-color: darken( $purple, 10% ) !important

.title
  font-family: $arvo

.hero 
  background-size: cover
  .title
    color: $white
    text-shadow: 1px 1px 4px rgba($black, 1), 0px 2px 10px rgba( $grey-darker, .7)
  .subtitle
    color: $white
    background: rgba( $black, .7 )
    padding: 0.5em
    border-radius: 10px

.navbar-menu.is-active 
    animation: navbar .2s ease-in-out
.navbar-item
  a:hover
    color: #223862

.button
  &__breather
    svg
      margin-left: 0.5em
  &__spacer
    margin-right: 0.5em
@keyframes navbar
  0% 
    display: none
    opacity: 0
    height: 0
  
  1% 
    display: block
    opacity: 0
  
  100% 
    opacity: 1
    height: 400px


.stream
  iframe
    width: 100%
    border-radius: 4px
  &__main
    iframe
      height: 60vh

  &__charity
    iframe
      min-height: 45vh

embed
  min-height: 80vh
  min-width: 100%
  &__home
    min-height: 50vh

.and-also-twitch
  background-color: #9146FF !important
  font-size: 1.75em !important
